#digitation {
    max-width: 305px;
}
p {
    font-size: .9rem;
}

#content_box2 {
    top: 500px;
}

#content_box3 {
    top: 320px;
}

#content_box4 {
    top: 100px;
}

footer {
    top: 25px;
}