#site1{
    width: 198px;
    height: 127px;
    left: -25%;
}

#site2{
    width: 198px;
    height: 127px;
    top: -859px;
    left: 25%;
}

#site3{
    width: 198px;
    height: 127px;
    top: -836px;
    left: -25%;
}

/* SECOND ROW */
#site4{
    width: 198px;
    height: 127px;
    top: -964px;
    left: 25%;
}

#site5{
    width: 198px;
    height: 127px;
    top: -944px;
    left: -25%;
}

#site6{
    width: 198px;
    height: 127px;
    top: -1073px;
    left: 25%;
}

/* THIRD ROW */
#site7{
    width: 198px;
    height: 127px;
    top: -1052px;
    left: -25%;
}

#site8{
    width: 198px;
    height: 127px;
    top: -1180px;
    left: 25%;
}

#site9{
    width: 198px;
    height: 127px;
    top: -1160px;
    left: 0%;
}

#specialization1{

    width: 190px;
    height: 190px;

    top: 40px;
    left: -24%;
}

#specialization2{

    width: 190px;
    height: 190px;

    top: -150px;
    left: 24%;
}

#specialization3{

    width: 190px;
    height: 190px;

    top: -135px;
    left: -24%;
}

/* ROW DE BAIXO */
#specialization4{

    width: 190px;
    height: 190px;
    
    top: -324px;
    left: 24%;
}

#specialization5{

    width: 190px;
    height: 190px;

    top: -310px;
    left: -24%;
}

#specialization6{

    width: 190px;
    height: 190px;
    
    top: -500px;
    left: 24%;
}

#spec_icon{
    margin-left: 67px;
    margin-top: 5px;
    width: 60px;
}

h6{
    font-size: 1.2rem;
}

h7{
    font-size: 0.6rem;
    top: -32px;
}

#content_box2{
    top: 0px;
}

#content_box3{
    top: -100px;
}


#content_box4{
    top: -100px;
}

#main_box{
    top: 200px;
}

#digitation {
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-top: 30vh;
}

p{
    font-size: 0.8rem;
}

footer{
    top: -100px;
}