#leftbox1{
    left: -30%;
}

#digitation{
    max-width: 780px;
    margin-top: 30vh;
}

#next{
    top: 100px;

    margin-bottom: 30vh;
    max-width: 980px;
}

p {
    font-size: 1.5rem;
}