

#content_box2{
    top: 0px;
}

#content_box3{
    top: 0px;
}

#menu_li{
    padding-left: 55px;
}

p{
    background-color: white;
    color: black;
    font-size: 1.7rem;
    line-height: 2.5rem;
    padding-left: 35px;
    border-radius: 0.3rem;
}

#site1{
    width: 280px;
    height: 181px;
}

#site2{
    width: 280px;
    height: 181px;
    top: -911px;
}

#site3{
    width: 280px;
    height: 181px;
    top: -1092px;
}

/* SECOND ROW */
#site4{
    width: 280px;
    height: 181px;
    top: -1072px;
}

#site5{
    width: 280px;
    height: 181px;
    top: -1253px;
}

#site6{
    width: 280px;
    height: 181px;
    top: -1434px;
}

/* THIRD ROW */
#site7{
    width: 280px;
    height: 181px;
    top: -1412px;
}

#site8{
    width: 280px;
    height: 181px;
    top: -1593px;
}

#site9{
    width: 280px;
    height: 181px;
    top: -1774px;
}