#digitation{

    width: 100%;
    max-width: 980px;
    margin: auto;

    margin-top: 30vh;
    
}

#main_box{
    background-color: black;

    width: 100%;
    margin: 0 auto;
    height: 3450px;


    position: relative;
    top: 300px;
}

#next{
    position: relative;
    top: 100px;
    margin-bottom: 30vh;

    width: 100%;
    max-width: 980px;
    margin: auto;
}